<div>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Mi campus-USB
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <form #f="ngForm" [formGroup]="rForm" (ngSubmit)="login(rForm.value)" novalidate>

          <div class="form-group login-input">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>
          </div>

          <div class="form-group login-input">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
          </div>

          <div align="center">
          <button mat-button type="submit">Log in</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
